################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/release
/.nuget
/UnitTestProject1/UnitTestProject1/bin/Debug
/UnitTestProject1/UnitTestProject1/obj/Debug
/UnitTestProject2/bin/Debug
/UnitTestProject2/obj
/XY.His.ClientProxy/obj/Debug
/XY.His.Common/obj/Debug
/XY.His.Contract/bin/Release
/XY.His.Contract/obj
/XY.His.Core/bin/Release
/XY.His.Core/obj
/XY.His.Domain/bin/Release
/XY.His.Model/bin/Debug
/XY.His.Model/obj
/XY.His.Proxy/obj
/XY.His.Service/bin/Release
/XY.His.Service/obj
/XY.His.Service.UnitTests/bin/Debug
/XY.His.Wcf/bin
/XY.His.Wcf.UnitTests/obj
/XY.His.Wcf.UnitTests/bin/Debug
/XY.His.Wcf/obj/Release
/XY.His.Wcf/obj/Debug
