<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>        
        <binding name="BasicHttpBinding_IService1" allowCookies="true"
                 maxReceivedMessageSize="200000000"
                 maxBufferSize="200000000"
                 maxBufferPoolSize="200000000">                  
          <readerQuotas maxDepth="32"               
                        maxArrayLength="2000000000"
                        maxStringContentLength="2000000000"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50410/SysParamService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IService1" 
                contract="XY.His.Contract.Service.Gbl.ISysParamService" 
                name="BasicHttpBinding_IService1"/>

      <endpoint address="http://localhost:50410/BSItemService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1"
                contract="XY.His.Contract.Service.BS.IItemService"
                name="BasicHttpBinding_IService1"/>
    
    <endpoint address="http://localhost:50410/LoginUserService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1"
                contract="XY.His.Contract.Service.BS.IUserService"
                name="BasicHttpBinding_IService1"/>
    </client>
    
   
    
  </system.serviceModel>
</configuration>